.wrapper-collections-slick-slider {
  margin: 20px auto;
  width: 95%;
  position: relative;

  .collections-slick-slider {
    .slick-track {
      display: flex;

      .slick-slide {
        min-width: max-content;
        margin-right: 20px;
      }
    }
  }

  .left-overlay {
    position: absolute;
    height: 190px;
    width: 70px;
    left: -3px;
    top: 0;
    background: linear-gradient(
      90deg,
      rgba(242, 242, 242, 1) 0%,
      rgba(242, 242, 242, 0) 100%
    );
    z-index: 2;
  }

  .right-overlay {
    position: absolute;
    height: 190px;
    width: 70px;
    right: -3px;
    top: 0;
    background: linear-gradient(
      -90deg,
      rgba(242, 242, 242, 1) 0%,
      rgba(242, 242, 242, 0) 100%
    );
    z-index: 2;
  }
}
