.detailed-card-component {
  max-width: 80%;
  height: 256px;
  border-radius: 20px;
  background-size: cover;
  position: relative;
  color: #ffffff;
  font-weight: 600;
  padding: 16px 16px 16px 16px;
  font-size: 12px;
  background-repeat: no-repeat;
  margin-bottom: 0 auto;

  .close-btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #989898;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      .close-icon {
        fill: #c77f7f;
      }
    }
    .close-icon {
      transition: all 0.3s ease;
      fill: #ffffff;
    }
  }
  .data {
    margin-top: 160px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    line-height: 16px;
  }
  .name {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .bottom-block {
    display: flex;
    justify-content: start;
    color: #bdc0c4;
    align-items: center;
    .note-icon {
      fill: #bdc0c4;
      width: 10px;
      height: 10px;
      margin-right: 7px;
    }
    .genre {
      margin-right: 7px;
      letter-spacing: 1px;
    }
    .tickets-icon {
      fill: #bdc0c4;
      width: 11px;
      height: 12px;
      margin-right: 7px;
    }
    .price {
      .uah-icon {
        fill: #bdc0c4;
        width: 8px;
        height: 8px;
        margin-right: 2px;
      }
    }
  }
}
