.navbar-desktop_block {
  display: none;
  padding: 10px 40px;

  .navbar-desktop_flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Italianno', cursive;

    .logo {
      position: relative;
      display: flex;
      align-items: start;
      opacity: 1;
      text-decoration: none;
      color: #fc1055;
      fill: #fc1055;

      .logo-icon {
        opacity: 0;
        position: absolute;
        top: -5px;
        transition: all 0.2s ease-out;
      }

      .e {
        transition: all 0.2s ease-out;
      }

      &:hover {
        .e {
          margin-right: 10px;
        }
        .v {
          opacity: 0;
        }
        .logo-icon {
          opacity: 1;
        }
      }
    }
  }
  .navbar-desktop {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          text-decoration: none;
          color: #373a42;
        }
        &:hover,
        &:active,
        &:focus {
          a {
            color: #fc1055;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .navbar-desktop_block {
    display: block;
  }
}
