.navbar-desktop_block {
  display: none;
  padding: 40px 16px;
  margin: 0 auto;

  .navbar-desktop_flex {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .logo {
      position: relative;
      display: flex;
      align-items: start;
      color: #fc1055;
      fill: #fc1055;
      font-size: 24px;
      text-decoration: none;

      .logo-icon {
        position: absolute;
        top: -12px;
        left: 3px;
        opacity: 0;
      }

      .E {
        margin-right: 20px;
      }
    }
  }

  .navbar-desktop {
    ul {
      display: grid;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
      justify-items: flex-end;

      li {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #373a42;
          text-decoration: none;
          transition: 0.3s ease-in;
        }

        &:hover,
        &:active,
        &:focus {
          a {
            color: #fc1055;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .navbar-desktop_block {
    display: block;
    max-width: 1200px;
  }
}
