.navbar-desktop_block {
  display: none;
  padding: 10px 40px;

  .navbar-desktop_flex {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .logo {
      position: relative;
      display: flex;
      align-items: start;
      text-decoration: none;
      color: #fc1055;
      fill: #fc1055;

      .logo-icon {
        position: absolute;
        top: -30%;
        left: 2%;
      }

      .E {
        margin-right: 35%;
      }
    }
  }

  .navbar-desktop {
    ul {
      display: grid;
      grid-template-columns: repeat(4, minmax(100px, 1fr));

      li {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        a {
          text-decoration: none;
          color: #373a42;
          transition: 0.3s ease-in;
        }

        &:hover,
        &:active,
        &:focus {
          a {
            color: #fc1055;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .navbar-desktop_block {
    display: block;
  }
}
