.navbar-mobile {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 99;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    li {
      list-style: none;
    }

    a {
      .navbar_icon {
        transition: all 0.3s ease;
        fill: #c2c6ce;

        &:hover {
          fill: #c77f7f;
        }

        &:focus-visible,
        &:active {
          fill: #fc1055;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .navbar-mobile {
    display: none;
  }
}
